*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-color: black;

}
.mainheader{
    background-image: url("assect/var1.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
    color: aliceblue;
    line-height: 90%;
    /* font-family: 'Antonio', sans-serif; */
    padding-left: 20px;
    padding-bottom: 5vh;
    
    /* margin-bottom: auto; */
    display: inline-block;
    justify-content: center;
    display: flex;
    
}

.header{
    width: max-content;
    margin: 0;
    padding: 0;
    width: fit-content;
    display: inline-block;
        align-self: flex-end;
}
.marquetext{
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    line-height: 90%;
    
    
}

.topnav {
position: -webkit-sticky;
display: flex;
position: sticky;

/* justify-content: flex-end; */
    top: 0;
    overflow: hidden;
    background-image: linear-gradient(rgba(98, 96, 96, 0.481), rgb(0, 0, 0));
    font-family: 'Antonio', sans-serif;
}

.topnav a {
    /* display: block; */
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.6rem;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #dc7311;
    color: white;
}
.home{
    display: flex;
    margin: 0;
    height:  calc(100vh - 60px) ;
    background-image:url("assect/var3.jpg");
    background-size: cover;

}
.homecont{
    color: #72220d;
    background-color: rgba(250, 235, 215, 0.63);
    border-radius: 10px;
    margin-top:150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 50px;
    font-family: 'Antonio', sans-serif;
    font-size: x-large;
    padding: 20px;
    height: fit-content;
}
.festivscrool{
   
    width: 100vw;
    margin: 10px;
    display: inline-flex;
    white-space: nowrap;
    color: #ddd;
    position: relative;
    overflow: scroll;
  
}

.panel{
    margin: 10px;
    height: 70vh;
    width: 90vh;
    background-color: aquamarine;
    padding:50px;
}