<header>
    <h1 id="3"> <span style="color: #ff6a00;">Books</span><span style="color:rgb(126, 10, 126) ;">App</span></h1>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/auther">Authers</a></li>
        <li><a href="/about">About us</a></li>
    </ul>
</nav>
<div class="clear"></div>
</header>